*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: indigo;
}

.slider-title {
    text-align: center;
    font-size: 1.3rem;
    color: yellow;
}

.container {
    width: calc(100vw - 60%);
    height: calc(90vh - 1%);
    margin-top: calc((100vh - 50%)/2);
    margin-bottom: calc((100vh - 50%)/2);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.slider-form__label {
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-form__inner {
    height: 0.8rem;
    width: 0.8rem;
    background-color: aquamarine;
    border: 0.11rem aquamarine solid;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

input[name="dot"] {
    display: none;
}

#slide-1:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(1) .slider-form__inner,
#slide-2:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(2) .slider-form__inner,
#slide-3:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(3) .slider-form__inner,
#slide-4:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(4) .slider-form__inner,
#slide-5:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(5) .slider-form__inner,
#slide-6:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(6) .slider-form__inner,
#slide-7:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(7) .slider-form__inner,
#slide-8:checked ~ .slider-description .slider-form .slider-form__label:nth-of-type(8) .slider-form__inner {
    background-color: transparent;
}

#slide-1:checked ~ .slider-items, #slide-1:checked ~ .slider-description .slider-box__text {
    transform: translateX(0);
}
#slide-2:checked ~ .slider-items, #slide-2:checked ~ .slider-description .slider-box__text {
    transform: translateX(-12.5%);
}
#slide-3:checked ~ .slider-items, #slide-3:checked ~ .slider-description .slider-box__text {
    transform: translateX(-25%);
}
#slide-4:checked ~ .slider-items, #slide-4:checked ~ .slider-description .slider-box__text {
    transform: translateX(-37.5%);
}
#slide-5:checked ~ .slider-items, #slide-5:checked ~ .slider-description .slider-box__text {
    transform: translateX(-50%);
}
#slide-6:checked ~ .slider-items, #slide-6:checked ~ .slider-description .slider-box__text {
    transform: translateX(-62.5%);
}
#slide-7:checked ~ .slider-items, #slide-7:checked ~ .slider-description .slider-box__text {
    transform: translateX(-75%);
}
#slide-8:checked ~ .slider-items, #slide-8:checked ~ .slider-description .slider-box__text {
    transform: translateX(-87.5%);
}
  
.slider-form__label:hover .slider-form__inner {
    background-color: yellow;
    border: 0.11rem yellow solid;
}

.slider-form__label:active .slider-form__inner {
    opacity: 0.8;
}

.slider-items {
    display: flex;
    width: 800%;
    height: 75%;   
    transition: 0.6s all ease-in-out;
    margin-bottom: 1.3rem;
}

.slider-item {
    width: 50%;
    height: 100%;
}

.slider-form {
    display: flex;
}
  
.slider-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5%;
}

.slider-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-box {
    width: 80%;
    overflow: hidden;
}

.slider-box .slider-box__text {
    width: 800%;
    display: flex;
    transition: all 0.5s ease-in-out;
  }

.slider-box__text-slider{
    width: 12.5%;
    color: yellow;
}

@media (max-width: 1024px){
    .container {
        width: calc(100vw - 65%); 
    }
}
@media (max-width: 768px){
    .container {
        width: calc(100vw - 45%);
        height: calc(90vh - 1%);
        margin-top: calc((50vh - 25%)/2);
        margin-bottom: calc((50vh - 25%)/2);
    }
}

@media (max-width: 480px){
    .container {
        width: calc(100vw - 50%); 
    }
    .slider-description {
        flex-direction: column-reverse;
    }
    .slider-box {
        margin-top: 1.3rem;
        align-self: flex-start;
    }
}